@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Gilroy, sans-serif;
    color: #333;
}

ul,
li,
ol {
    list-style: none;
    color: #333;
}

a,
menu {
    text-decoration: none;
    color: currentColor
}

.aquagreen {
    color: #20AD96;
}