@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Gilroy, sans-serif;
    color: #333;
}

ul,
li,
ol {
    list-style: none;
    color: #333;
}

a,
menu {
    text-decoration: none;
    color: currentColor
}

.text-center {
    text-align: center;
}


.section-descr {
    color: #9ea4a5;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.section-title {
    color: #3f3a64;
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 60px;
    text-align: center;
  }

  .section-subtitle {
    font-size: 24px;
    color: #3f3a64;;
    font-weight: bold;
  }

  .aquagreen-title {
    font-weight: 100;
    color: #20AD96;
  }

  button{
    background-color: #20AD96;
    color: #fff;
    padding: 10px;
    width: 260px;
    height: 52px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color: #3f3a64;
    color: #fff;
}
