@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Gilroy, sans-serif;
    color: #333;
}

ul,
li,
ol {
    list-style: none;
    color: #333;
}

a,
menu {
    text-decoration: none;
    color: currentColor
}


.petroil {
    color: #3f3a64 !important;
}

.section-descr {
    color: #9ea4a5;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.section-title {
    color: #3f3a64;
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 60px;
    text-align: center;
  }

  .aquagreen-title {
    font-weight: 100;
    color: #20AD96;
  }
