$primary-color: #20AD96;

$secondary-color: #3f3a64;

$tertiary-color: #8c89a280;

$background-color: #f5f7fa;

$card-color: #f5f7fa;

$featured-color: #9ea4a5;

.petroil {
    color: #3f3a64 !important;
}
